.project-heading {
  text-align: center;
  padding: 4rem 0 2rem 0;
}

.project-container {
  max-width: 1140px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  padding-bottom: 10rem;
}

.project-card {
  background: #1a1919;
  padding: 1.2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.project-card img {
  width: 100%;
}

.project-title {
  margin-top: 1rem;
  color: white;
}

.pro-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.pro-details {
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.pro-btns {
  margin-top: auto;
}

.pro-btns .btn {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #f8db02d6;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.pro-btns .btn:hover {
  background-color: #003976;
  color: #fff;
}
